body {
  margin: 0;
  font-family: Arial;
  background: #eaf6ff;
}

.dark {
  background: #121212;
  color: white;
}

.header {
  background: #87CEEB;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.uploadBox {
  padding: 10px;
  display: flex;
  gap: 10px;
}

#feed {
  padding: 10px;
}

.post {
  background: white;
  margin-bottom: 15px;
  border-radius: 10px;
  overflow: hidden;
}

.dark .post {
  background: #1e1e1e;
}

.post img {
  width: 100%;
}

.actions {
  padding: 10px;
}

.commentBox input {
  width: 70%;
}
