body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(to right, #87CEEB, #bde0fe);
}

/* TASKBAR */
.taskbar {
  position: sticky;
  top: 0;
  backdrop-filter: blur(15px);
  background: rgba(255,255,255,0.6);
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.actions {
  display: flex;
  gap: 10px;
}

.uploadBtn {
  background: #4da6ff;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
}

/* POPUP */
#previewBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.previewContent {
  background: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  animation: zoomIn 0.2s ease;
}

@keyframes zoomIn {
  from {transform: scale(0.8); opacity: 0;}
  to {transform: scale(1); opacity: 1;}
}

.previewContent img {
  width: 250px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.previewContent input {
  padding: 8px;
  width: 90%;
  margin-bottom: 10px;
}

.btns {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.hidden {
  display: none;
}

/* FEED */
#feed {
  padding: 20px;
}

.post {
  background: white;
  border-radius: 12px;
  margin-bottom: 20px;
  overflow: hidden;
}

.post img {
  width: 100%;
}

.post p {
  padding: 10px;
}
/* NÚT X */
.closeBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 18px;
  cursor: pointer;
  color: #333;
}

/* để X nằm đúng vị trí */
.previewContent {
  position: relative;
}
